.row {
    margin-top: 30%;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 20%;
    background-color: rgb(255, 205, 178);
}

/* mat-list-item {
    justify-content: space-between;
} */


.avatar {
    height: 100%;
    width: 100%;
}

.sidenavItems {
    
}